.App {
  text-align: center;
}

.container {
  position: relative;
  border: solid 1px red;
  height: 256px;
  width: 256px;
  overflow: auto;
  
  float: left;
  margin-right: 16px;
}

.inner {
  position: relative;
  height: auto;
}

.full-height {
  position: absolute;
  top: 0;
  left: 0;
  right: 128px;
  bottom: 0;
  height: 100%;
  
  background: blue;
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img { 
  opacity: 0.7; 
} 

.img:hover { 
  opacity: 1; 
}

.Fixed
{
    position: fixed;
    top: 20px;
}

.highlight { color: #ffedc4 ; }


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.headerContainer{
  background-size: 40px 40px;
  background-image:

      linear-gradient(to right, #2d2752 1px, transparent 1px),
      linear-gradient(to bottom, #2d2752 1px, transparent 1px),
      linear-gradient(rgb(15,10,15,0.6), rgb(15,10,15,0.6));
  
}

.mainContainer{
  background-size: 40px 40px;
  background-image:

      linear-gradient(to right, #423b6b 1px, transparent 1px),
      linear-gradient(to bottom, #423b6b 1px, transparent 1px),
      linear-gradient(#2c2553, #2c2553);
  
}

.container1{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container2{
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-right: 20px;
}

/* Hide scrollbar for IE and Edge */
.example {
  overflow-x: hidden; 
} 

.dot {
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
