.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

li{
  margin-top: 10px;
}

.img { 
  opacity: 0.7; 
  cursor:pointer;

} 

.img:hover { 
  opacity: 1; 
}

.imageStandard {
  display: inline-block;
  border-radius: 10;
  padding: 5px;
  background: white;
  border: 10px solid white;
  opacity: 0.85;
  -moz-box-shadow: 0 0 5px rgb(31, 29, 34);
  -webkit-box-shadow: 0 0 5px rgb(31, 29, 34);
  box-shadow: 0 0 5px rgb(31, 29, 34);
}

.highlight { color: #ffedc4 ; }

.overlay {
  opacity: 0;
  transition: .5s ease;
  background-color: #bca5c7;
  position:"absolute;"
}

/*vh, vmin, look into usage*/

